.shopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ff6e;
    margin: 5px;
    box-sizing: border-box;
}

.shopItems {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;
    background-color: #b580ed;
    flex-wrap: wrap;
    max-width: 420px;
}

.menuShopHeader {
    text-align: center;
    position: relative;
    width: 100%;
}

.menuShopHeaderMoney {
    position: absolute;
    left:0;
    top: 50%; transform: translateY(-50%);
    margin-left: 5px;
}

.menuShopHeaderMoney span {
    display: inline-block;
    top: 50%; transform: translateY(-50%);
}