body {
	background-color: #9bd4c3;
	margin: 0;
	-webkit-user-select: none;
	user-select: none; /* Disable text selection */
	-webkit-user-drag: none; /* Disable dragging in WebKit browsers */
	-moz-user-select: none; /* Disable text selection in Firefox */
	-ms-user-select: none; /* Disable text selection in Internet Explorer/Edge */
	-webkit-touch-callout: none; /* Disable the callout that appears when long-pressing a link */
}

#map {
	border-radius: 10px;
	position: fixed;
	background-color: #8842d5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.txtHarvest {
	color: #00ff6e;
	font-size: 22px;
	font-weight: 500;
	border-radius: 50px;
	padding: 15px 2px;
	flex-grow: 1;
}

.hover-ground:hover {
	border-radius: 13px;
}